certbot/conf/*
certbot/www/*
nginx/extras/*
nginx/domains/*
nginx/htpasswd
public/*
.env
!certbot/conf/options-ssl-nginx.conf
!certbot/conf/ssl-dhparams.pem
!certbot/www/.gitkeep
!nginx/extras/.gitkeep
!nginx/domains/.gitkeep
!public/.gitkeep
